/* General Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Header Styles */
.exam-portal-header {
  background-color: darkslategrey; /* Deep Teal */
  color: #ffffff;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.exam-portal-header .header-logo img {
  max-height: 50px;
}
.justify-content-end {
  justify-content: flex-end;
  padding: 12px;
}

.exam-portal-header .header-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.exam-portal-header .header-nav ul li {
  display: inline-block;
}

.exam-portal-header .header-nav ul li a {
  text-decoration: none;
  color: #ecaa44;
  font-weight: bold;
  transition: color 0.3s;
  margin: 25px;
}

.exam-portal-header .header-nav ul li a:hover {
  color: wheat; /* Vibrant Orange */
}

